<li>
	{{name}}
	<div>
		<button class="change-devour" data-id="{{id}}" data-newdevour="{{notdevoured}}">
			{{#if notdevoured}}Devour TIME!{{else}}Don't Devour!{{/if}}
		</button>

		<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	</div>
</li>